<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:replace="fragments/head :: static_head"></div>
<head>
    <title>Kursy</title>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <div th:replace="fragments/mobileNav :: mobile"></div>

    <div th:replace="fragments/menu :: basic-menu"></div>

    <div layout:fragment="content">

    </div>

    <div layout:fragment="main-content">

    </div>

    <div th:insert="fragments/footer :: footer-short"></div>


</div> <!-- end of: "site-wrap" -->
    <div th:replace="fragments/script :: script"></div>
</body>
</html>