<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="fragments/head :: static_head"></th:block>
<head>
    <title>Kursy</title>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <th:block th:replace="fragments/mobileNav :: mobile"></th:block>

    <th:block th:replace="fragments/menu :: basic-menu"></th:block>

    <!--Top menu-->
    <th:block layout:fragment="header"></th:block>

    <!--Title-->
    <th:block layout:fragment="title"></th:block>

    <!--Main content-->
    <th:block layout:fragment="main-content"></th:block>

    <!--Footer-->
    <th:block th:insert="fragments/footer :: footer-short"></th:block>


</div> <!-- end of: "site-wrap" -->
<!--Scripts-->
<th:block th:replace="fragments/script :: script"></th:block>
</body>
</html>