/* W tym pliku definiujemy niestandardowe widoki*/

.user-profile-img{
    width: 100%;
    height: auto;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}
.content-basic-height    .row{
    height: 15vh;
}

.col-user-profile{
    margin-top: 5rem;
}

/*By Piotr Żukiewicz*/
.intro-section-course {
    position: relative; }
.intro-section-course, .intro-section-course .container > .row {
    min-height: 50vh; }
.intro-section-course.single-cover, .intro-section-course.single-cover .container > .row {
    height: 30vh;
    min-height: 200px; }
.intro-section-course h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1.5rem; }
.intro-section-course p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem; }

.single-course-body{
    height: 20vh;
    min-height: 80px;
}

.menu-subsection{
    min-height: 550px;
    padding: 20px;
}
.content-subsection{
    min-height: 550px;
    color: #0b0b0b;
}
.content-subsection h1{
    font-size: 2.7rem;
    color: #0b0b0b;
    font-weight: bold;
}
.content-subsection p{
    color: #0b0b0b;
    font-size: 1.5rem;
}

.course-card-text{
    height: 100px;
}

