<th:block th:fragment="courses-cards">
    <div class="site-section">
        <div class="container">
            <div class="row">

                <div class="col-12 border-dark border-bottom my-2">
                    <h2 class="font-weight-bold text-center" th:text="${courseLevelName.get(0).getName()}"></h2>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" th:each="course: ${basicCourses}">
                    <div class="card">
                        <img class="card-img-top" src="http://via.placeholder.com/640x360" alt="Card image cap">
                        <div class="card-body">
                           <!-- <th:block sec:authorize="hasAuthority('Administrator')">-->
                            <a class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                <img width="30px" height="30px" th:src="@{/images/option.jpg}">
                            </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" th:href="@{/edit/{id}(id=${course.getId()})}">Edytuj kurs</a>
                                    <a class="dropdown-item" th:href="@{/addSection/{id}(id=${course.getId()})}">Dodaj rozdział</a>
                                    <a class="dropdown-item" th:href="@{/delete/{id}(id=${course.getId()})}">Usuń</a>
                                </div>
                            <!--</th:block>-->
                            <h5 class="card-title" th:text="${course.getName()}"></h5>
                            <p class="card-text" th:text="${course.getShortDescription()}"></p>
                            <a th:href="@{/courses/{id}(id=${course.getId()})}" class="btn btn-primary">Dowiedz się więcej</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 border-dark border-bottom my-2">
                    <h2 class="font-weight-bold text-center" th:text="${courseLevelName.get(1).getName()}"></h2>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" th:each="course: ${mediumCourses}">
                    <div class="card">
                        <img class="card-img-top" src="http://via.placeholder.com/640x360" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${course.getName()}"></h5>
                            <p class="card-text" th:text="${course.getShortDescription()}"></p>
                            <a th:href="@{/courses/{id}(id=${course.getId()})}" class="btn btn-primary">Dowiedz się więcej</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 border-dark border-bottom my-2">
                    <h2 class="font-weight-bold text-center" th:text="${courseLevelName.get(2).getName()}"></h2>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" th:each="course: ${hardCourses}">
                    <div class="card">
                        <img class="card-img-top" src="http://via.placeholder.com/640x360" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${course.getName()}"></h5>
                            <p class="card-text" th:text="${course.getShortDescription()}"></p>
                            <a th:href="@{/courses/{id}(id=${course.getId()})}" class="btn btn-primary">Dowiedz się więcej</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="user-courses-cards">
    <div class="site-section">
        <div class="container">
            <div class="row">

                <div class="col-12 border-dark border-bottom my-2">
                    <h2 class="font-weight-bold text-center" th:text="${courseLevelName.get(0).getName()}"></h2>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" th:each="course: ${courses}" th:if="${course.idCourseLevel} == 1 ">
                    <div class="card">
                        <img class="card-img-top" src="http://via.placeholder.com/640x360" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${course.getName()}"></h5>
                            <p class="card-text" th:text="${course.getShortDescription()}"></p>
                            <a th:href="@{/courses/{id}/sections(id=${course.getId()})}" class="btn btn-primary">Dalej</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 border-dark border-bottom my-2">
                    <h2 class="font-weight-bold text-center" th:text="${courseLevelName.get(1).getName()}"></h2>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" th:each="course: ${courses}" th:if="${course.idCourseLevel} == 2 ">
                    <div class="card">
                        <img class="card-img-top" src="http://via.placeholder.com/640x360" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${course.getName()}"></h5>
                            <p class="card-text" th:text="${course.getShortDescription()}"></p>
                            <a th:href="@{/courses/{id}/sections(id=${course.getId()})}" class="btn btn-primary">Dalej</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 border-dark border-bottom my-2">
                    <h2 class="font-weight-bold text-center" th:text="${courseLevelName.get(2).getName()}"></h2>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" th:each="course: ${courses}" th:if="${course.idCourseLevel} == 3 ">
                    <div class="card">
                        <img class="card-img-top" src="http://via.placeholder.com/640x360" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${course.getName()}"></h5>
                            <p class="card-text" th:text="${course.getShortDescription()}"></p>
                            <a th:href="@{/courses/{id}/sections(id=${course.getId()})}" class="btn btn-primary">Dalej</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</th:block>