<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<th:block th:fragment="course_management">
    <th:block sec:authorize="hasAuthority('Administrator')">
        <a class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
            <img width="30px" height="30px" th:src="@{/images/option.jpg}">
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{edit/{id}(id=${course.getId()})}">Edytuj kurs</a>
            <a class="dropdown-item" th:href="@{addSection/{id}(id=${course.getId()})}">Dodaj rozdział</a>
            <a class="dropdown-item" th:href="@{editSections/{id}(id=${course.getId()})}">Edytuj rodziały</a>
            <a class="dropdown-item" name="delete" th:href="@{delete/{id}(id=${course.getId()})}">Usuń</a>
        </div>
    </th:block>
</th:block>

<th:block th:fragment="course_section_management">
    <th:block sec:authorize="hasAuthority('Administrator')">
        <a class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
            <img width="30px" height="30px" th:src="@{/images/option.jpg}">
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{edit/{id}(id=${courseSection.getId()})}">Edytuj rozdział</a>
            <a class="dropdown-item" th:href="@{addSubsection/{id}(id=${courseSection.getId()})}">Dodaj podrozdział</a>
            <a class="dropdown-item" th:href="@{editSubsection/{id}(id=${courseSection.getId()})}">Edytuj podrodziały</a>
            <a class="dropdown-item" name="delete" th:href="@{delete/{id}(id=${courseSection.getId()})}">Usuń</a>
        </div>
    </th:block>
</th:block>

<th:block th:fragment="course_subsection_management">
    <th:block sec:authorize="hasAuthority('Administrator')">
        <a class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
            <img width="30px" height="30px" th:src="@{/images/option.jpg}">
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{editContent/{id}(id=${subsectionId})}">Edytuj</a>
            <a class="dropdown-item" name="delete" th:href="@{delete/{id}(id=${subsectionId})}">Usuń</a>
        </div>
    </th:block>
</th:block>
</html>