<!-- Standardowy szablon menu dla zalogowanych i wylogowanych -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<th:block th:fragment="basic-menu">
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <!-- Logo lewe miejsce w pasku menu -->
                <div class="site-logo mr-auto w-25">
                    <a th:href="@{/}">CodePolishing</a>
                </div>

                <!-- Srodkowe miejsce w pasku menu -->
                <div th:replace="::middle-menu"></div>

                <!-- Prawe miejsce w pasku menu -->
                <div th:replace="::right-menu"></div>
            </div>
        </div>
    </header>
</th:block>

<!-- Sprawdza czy użytkownik jest zalogowany i wyświetla mu odpowiednia treść w pozycji menu-->
<div th:fragment="middle-menu" class="mx-auto w-50 text-center">
    <!-- Czy użytkownik jest zalogowany ?-->
    <th:block sec:authorize="isFullyAuthenticated()">
        <!-- Wyświetlam menu dla zalogowanego-->
        <th:block th:replace="::userIsLoggedMenu"></th:block>
    </th:block>
    <th:block sec:authorize="!isFullyAuthenticated()">
        <!-- Wyświetlam menu dla niezalogowanego-->
        <th:block th:replace="::userIsNotLoggedMenu"></th:block>
    </th:block>
</div>

<!-- Sprawdza czy użytkowik jest zalogowany i wyświetla mu odpowiednia treść proflu-->
<div th:fragment="right-menu" class="ml-auto w-25">
    <!-- Czy użytkownik jest zalogowany ?-->
    <th:block sec:authorize="isFullyAuthenticated()">
        <!-- Wyświetlam profil -->
        <div th:replace="::userIsLoggedProfile"></div>
    </th:block>
    <th:block sec:authorize="!isFullyAuthenticated()">
        <!-- Wyświetlam logownie / rejestracje -->
        <div th:replace="::userIsNotLoggedProfile"></div>
    </th:block>
</div>


<th:block th:fragment="userIsLoggedProfile">
    <div class="d-inline-block w-100 p-2">
        <div class="w-25 float-left">
            <a href="/user/"><img class="card-img-top user-profile-img" th:src="@{/getUserImage}" alt="Profil's image"></a>
        </div>
        <div class="w-25 float-right">
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span
                    class="icon-menu h3"></span></a>
        </div>

        <div class="w-75 float-left">
            <div class="w-100 d-none d-xl-block text-center">
                Witaj: <th:block sec:authentication="name"></th:block>
            </div>
            <div class="w-100 float-left">
                    <nav class="site-navigation text-center" role="navigation">
                        <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">

                                <li class="w-100 float-left nav-item dropdown">
                                    <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                        Opcje
                                    </a>
                                    <div class="dropdown-menu">
                                        <form th:action="@{/user}" method="get">
                                            <input type="submit" class="dropdown-item" value="Profil"/>
                                        </form>
                                        <a class="dropdown-item" th:href="@{/addCourse}">Dodaj kurs</a>
                                        <th:block sec:authorize="hasAuthority('Administrator')">
                                            <a class="dropdown-item" href="#">Statystyki</a>
                                        </th:block>
                                        <form th:action="@{/logout}"  method="post">
                                            <input type="submit" class="dropdown-item" value="Wyloguj"/>
                                        </form>

                                    </div>
                                    <!--<nav class="navbar navbar-expand-sm navbar-light bg-light">
                                        <a class="navbar-brand" href="#">Opcje</a>
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                            <ul class="navbar-nav mr-auto">
                                                <li class="nav-item ">
                                                    <a class="nav-link" href="#">Dodaj Kurs<span class="sr-only">(current)</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>-->
                                </li>
                        </ul>
                    </nav>

            </div>
        </div>
    </div>

    <!--<span class="d-none d-xl-block text-center">Witaj: <th:block sec:authentication="name"></th:block></span>
    <div class="w-25 mx-auto d-inline-block text-center align-content-center">
        <img class="card-img-top user-profile-img" th:src="@{/images/user_new.png}" alt="Profil's image">
    </div>
    <div class="w-50 d-inline-block mx-auto text-center align-content-center">
        <nav class="site-navigation text-center" role="navigation">
            <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                &lt;!&ndash;<div th:if="${userName}" th:text="Witaj + ' ' + ${userName} + ' ' + ${userSurname}"></div>&ndash;&gt;

                <li>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-primary btn-pill" value="Wyloguj"/>
                    </form>
                </li>
            </ul>
        </nav>
        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span
                class="icon-menu h3"></span></a>
    </div>-->
</th:block>

<th:block th:fragment="userIsLoggedMenu">
    <nav class="site-navigation position-relative text-center" role="navigation">
        <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
            <li><a th:href="@{/}" class="nav-link">Profil</a></li>
            <li><a th:href="@{/userCourses/}" class="nav-link">Moje kursy</a></li>
            <li><a th:href="@{/courses/}" class="nav-link">Kursy</a></li>
            <li><a th:href="@{/jobOffers/}" class="nav-link">Oferty</a></li>
            <!--<li><a href="#teachers-section" class="nav-link">Teachers</a></li>-->
        </ul>
    </nav>
</th:block>

<th:block th:fragment="userIsNotLoggedProfile">
        <nav class="site-navigation position-relative text-center" role="navigation">
            <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                <li class="cta"><a th:href="@{/sign_up}" class="nav-link"><span>Rejestracja</span></a></li>
                <li class="cta"><a th:href="@{/signIn}" class="nav-link"><span>Logowanie</span></a></li>
            </ul>
        </nav>
        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a>
</th:block>

<th:block th:fragment="userIsNotLoggedMenu">
        <nav class="site-navigation position-relative text-center" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                <li><a th:href="@{/}" class="nav-link">Home</a></li>
                <li><a th:href="@{/courses/}" class="nav-link">Courses</a></li>
                <li><a href="#programs-section" class="nav-link">Programs</a></li>
                <li><a href="#teachers-section" class="nav-link">Teachers</a></li>
            </ul>
        </nav>
</th:block>


<div th:fragment="logout">
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

        <div class="container-fluid">
                <div class="d-flex align-items-center">
                <div class="site-logo mr-auto w-25"><a th:href="@{/}">CodePolishing</a></div>

                <div class="mx-auto text-center">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                            <li><a th:href="@{/}" class="nav-link">Home</a></li>
                            <li><a th:href="@{courses/}" class="nav-link">Courses</a></li>
                            <li><a href="#programs-section" class="nav-link">Programs</a></li>
                            <li><a href="#teachers-section" class="nav-link">Teachers</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="ml-auto w-25">
                    <div sec:authorize="isFullyAuthenticated()">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                                <!--<div th:if="${userName}" th:text="Witaj + ' ' + ${userName} + ' ' + ${userSurname}"></div>-->
                                <li><img class="card-img-top" src="http://via.placeholder.com/60x60" alt="Card image cap"></li>
                                <li>Witaj: <span sec:authentication="name"></span></li>
                                <li><button class="btn btn-secondary btn-pill">Moje konto</button></li>
                                <li><form th:action="@{/logout}" method="post">
                                    <input type="submit" class="btn btn-primary btn-pill" value="Wyloguj"/>
                                </form>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div sec:authorize="!isFullyAuthenticated()">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                                <li class="cta"><a th:href="@{/sign_up}" class="nav-link"><span>Rejestracja</span></a></li>
                                <li class="cta"><a th:href="@{/signIn}" class="nav-link"><span>Logowanie</span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a>
                </div>
            </div>
        </div>

    </header>
</div>

<div th:fragment="form-menu">
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
        <div class="container-fluid">
            <div class="d-inline-block align-items-center w-25">
                <div class="site-logo mr-auto "><a th:href="@{/}">CodePolishing</a></div>
            </div>
            <div class="d-inline-block align-items-center w-50">
                <div class="site-logo mx-auto text-white font-italic">
                    Uzyskaj dostęp do wspaniałych kursów
                </div>
            </div>
        </div>
    </header>
</div>
</html>
<!--
<div th:fragment="courseMenu">
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <div class="site-logo mr-auto w-25"><a th:href="@{/}">CodePolishing</a></div>

                <div class="mx-auto text-center">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                            <li><a th:href="@{/}" class="nav-link">Home</a></li>
                            <li><a th:href="@{/courses/}" class="nav-link">Courses</a></li>
                            <li><a href="#programs-section" class="nav-link">Programs</a></li>
                            <li><a href="#teachers-section" class="nav-link">Teachers</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="ml-auto w-25">
                    <div sec:authorize="isFullyAuthenticated()">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                                &lt;!&ndash;<div th:if="${userName}" th:text="Witaj + ' ' + ${userName} + ' ' + ${userSurname}"></div>&ndash;&gt;
                                <li>Witaj: <span sec:authentication="name"></span></li>
                                <form th:action="@{/logout}" method="post">
                                    <input type="submit" class="btn btn-primary btn-pill" value="Wyloguj"/>
                                </form>
                            </ul>
                        </nav>
                    </div>
                    <div sec:authorize="!isFullyAuthenticated()">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                                <li class="cta"><a th:href="@{/sign_up}" class="nav-link"><span>Rejestracja</span></a></li>
                                <li class="cta"><a th:href="@{/signIn}" class="nav-link"><span>Logowanie</span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a>
                </div>
            </div>
        </div>
    </header>
</div>-->
