<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="content">

            <<h3 class="text-center font-weight-bold mb-4">Zawartość</h3>
        <th:block th:if="${theoryList}">
            <h4 class="text-center font-weight-bold">Teoria</h4>
            <th:block th:each="theory,number : ${theoryList}">
                <div class="text-center">
                    <div class="col-7 float-left text-center" th:text="${number.index + 1}"></div>
                    <form class="col-2 float-left" th:action="@{editContent}">
                        <input type="hidden" name="theoryId" th:value="${theory.id}">
                        <input type="submit" class="btn" value="edytuj">
                    </form>
                    <form class="col-1 float-left" th:action="@{editContent/delete}" method="post">
                        <input type="hidden" name="deleteNumber" th:value="${number.index}">
                        <input type="image" name="submit" src="/images/thrash.jpg" width="40" height="40"/>
                    </form>
                    <div style="clear: both"></div>
                </div>
                </form>
            </th:block>
        </th:block>

        <th:block th:if="${taskList}">
            <h4 class="text-center font-weight-bold">Praktyka</h4>
            <th:block th:each="task,number : ${taskList}">
                <div class="text-center">
                    <div class="col-7 float-left text-center" th:text="${number.index + 1}"></div>
                    <form class="col-2 mx-1 float-left" action="/courses/editSections/editSubsection/editTask">
                        <input type="hidden" name="taskId" th:value="${task.id}">
                        <input type="submit" class="btn" value="edytuj">
                    </form>
                    <form class="col-1 float-left" action="/courses/editSections/editSubsection/editTask/delete" method="get">
                        <input type="hidden" name="deleteNumber" th:value="${number.index}">
                        <input type="image" name="submit" src="/images/thrash.jpg" width="40" height="40"/>
                    </form>
                    <div style="clear: both"></div>
                </div>
            </th:block>
        </th:block>

        <th:block th:if="${compileTaskList}">
            <h4 class="text-center font-weight-bold">Kompilacyjne</h4>
            <th:block th:each="compileTask,number : ${compileTaskList}">
                <div class="text-center">
                    <div class="col-7 float-left text-center" th:text="${number.index + 1}"></div>
                    <form class="col-2 float-left" action="/courses/editSections/editSubsection/editCompileTask">
                        <input type="hidden" name="compileTaskId" th:value="${compileTask.id}">
                        <input type="submit" class="btn" value="edytuj">
                    </form>
                    <form class="col-1 float-left" action="/courses/editSections/editSubsection/editCompileTask/delete" method="get">
                        <input type="hidden" name="deleteNumber" th:value="${number.index}">
                        <input type="image" name="submit" src="/images/thrash.jpg" width="40" height="40"/>
                    </form>
                    <div style="clear: both"></div>
                </div>
            </th:block>
        </th:block>
    </th:block>

    <th:block th:fragment="content-in-add">
        <h3 class="text-center font-weight-bold mb-4">Zawartość</h3>
        <th:block th:if="${theoryList}">
            <h4 class="text-center font-weight-bold">Teoria</h4>
            <th:block th:each="theory,number : ${theoryList}">
                <div class="col-7 float-left text-center" th:text="${number.index + 1}"></div>
                <form class="col-2 float-left" action="/courses/editSections/addSubsection/addContent/showEdit">
                    <input type="hidden" name="number" th:value="${number.index}">
                    <input type="submit" class="btn" value="edytuj">
                </form>
                <form class="col-1 float-left" th:action="@{addContent/delete}" method="post">
                    <input type="hidden" name="deleteNumber" th:value="${number.index}">
                    <input type="image" name="submit" src="/images/thrash.jpg" width="40" height="40"/>
                </form>
                <div style="clear: both"></div>
            </th:block>
        </th:block>

        <th:block th:if="${theoryList}">
            <h4 class="text-center font-weight-bold">Praktyka</h4>
            <th:block th:each="task,number : ${taskList}">
                <form th:action="@{addTask/delete}" method="post">
                    <div class="text-center">
                        <div class="col-7 float-left" th:text="${task.taskContent}"></div>
                        <div class="col-1 float-left">
                            <input type="hidden" name="deleteNumber" th:value="${number.index}">
                            <input type="image" name="submit" src="/images/thrash.jpg" width="40" height="40"/>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </form>
            </th:block>
        </th:block>

        <th:block th:if="${theoryList}">
            <h4 class="text-center font-weight-bold">Kompilacyjne</h4>
            <th:block th:each="compileTask,number : ${compileTaskList}">
                <form th:action="@{addCompileTask/delete}" method="post">
                    <div class="text-center">
                        <div class="col-7 float-left" th:text="${compileTask.taskContent}"></div>
                        <div class="col-1 float-left">
                            <input type="hidden" name="deleteNumber" th:value="${number.index}">
                            <input type="image" name="submit" src="/images/thrash.jpg" width="40" height="40"/>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </form>
            </th:block>
        </th:block>
    </th:block>
</html>