<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="header">

    <div class="menu-bg top-section-space" th:style="'background:url(' + @{/images/programming_banner.jpg} + ');'" data-stellar-background-ratio="0.1"></div>
</div>

<th:block layout:fragment="title">
    <div class="site-section-title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div data-aos="fade-left" data-aos-delay="200" class="col-10">
                            <div class="text-center text-black">
                                <h1>Dodaj oferte pracy</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<div layout:fragment="main-content">
    <div class="site-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <th:block th:if="${submit} != null">
                    <div class="alert-success w-100 text-center align-middle font-weight-bold rounded" style="height: 40px; vertical-align: middle"><p th:text="${submit}"></p></div>
                </th:block>
                    <th:block>
                        <th:block th:insert="fragments/jobs :: job-edit(job=${job})">
                        </th:block>
                    </th:block>
            </div>
        </div>
    </div>
</div>

</html>