<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">

    <script type="text/javascript">
        //Function for enable a button in abcd Task
        function enableButton(){
            $("#btnCheck").removeAttr("disabled");
        };

    </script>
    <div class="intro-section">
        <div class="slide-1" th:style="'background:url(' + @{/images/programming_banner.jpg} + ');'" data-stellar-background-ratio="0.8">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row">

                            <div class="col-3 text-center form-box mx-3 menu-subsection">
                                <div th:insert="fragments/subsection_parts :: side-menu-buttons"></div>
                            </div>


                            <div class="col-8 text-center form-box content-subsection">
                                <form th:action="@{/sections/{id}(id=${idCourseSection})}" method="post" >
                                    <input type="hidden" name="part" th:value="${nextPart}">
                                    <input type="hidden" name="contentType" value="task">
                                    <input type="hidden" name="rightAnswer" th:value="${rightAnswers}">

                                    <div class="col-12 text-center border-bottom"  th:utext="${task.getTaskContent()}"></div>
                                    <div class="align-items-center col-12">
                                        <div class="btn-group btn-group-lg btn-group-vertical btn-group-toggle row my-2" date-toggle="buttons">

                                            <div th:each="answer : ${allAnswers}">
                                                    <label class="btn btn-secondary btn-lg btn-block">
                                                        <input type="radio" name="chosen" th:value="${answer}" autocomplete="off" onclick="enableButton()" th:text="${answer}">
                                                    </label>
                                            </div>

                                        </div>
                                    </div>
                                    <div th:if="${afterCheck}" >
                                        <div class="col-12 my-4" th:text="${afterCheck}"></div>
                                        <div class="col-12 my-4">
                                            <button class="btn btn-primary" th:name="idSub" th:value="${currentSubSectionId}" th:text="Dalej" formmethod="get"></button>
                                        </div>
                                    </div>
                                    <div th:unless="${afterCheck}">
                                        <div class="col-12 my-4">
                                            <button class="btn btn-primary" th:name="idSub" id="btnCheck" th:value="${currentSubSectionId}" th:text="Sprawdz" disabled></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</html>