<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/courseLayout}" >

<th:block layout:fragment="header">
    <div class="menu-bg top-section-space" th:style="'background:url(' + @{/images/programming_banner.jpg} + ');'" data-stellar-background-ratio="0.8"></div>
</th:block>

<th:block layout:fragment="title">
    <div class="site-section-title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div data-aos="fade-left" data-aos-delay="200" class="col-10">
                            <div class="text-center text-black">
                                <h1>Ranking</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<div layout:fragment="main-content">

    <th:block th:with="number=0">
    <th:block th:each="user,userNumber : ${allUsers}">
        <th:block th:with="index=${number+1}">
        <th:block th:insert="fragments/ranking:: ranking-card(userOne = ${user}, number=${userNumber.index+1})"></th:block>

        </th:block>
    </th:block>
    </th:block>
</div>

</html>