
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/formLayout}">

<div layout:fragment="form">
    <form th:action="@{/userLogIn}" method="POST" class="form-box col-12">
        <input type="hidden" th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />
        <!-- Przy użyciu thymeleaf (zdefiniowany FailUrl) -->
        <ul class="alert-danger rounded">
            <li th:if="${loginError}" class="p-2">Niepoprawny email lub hasło</li>
        </ul>
        <!-- Klasyczny sposób z użyciem parametru logout -->
        <ul class="alert-success rounded">
            <li th:if="${(param.logout != null)}" class="p-2">Wylogowano poprawnie</li>
        </ul>
        <h3 class="h4 text-black mb-4">Zaloguj się</h3>
        <div class="form-group">
            E-mail:
            <input name="username" type="text" class="form-control" placeholder="e-mail"/>
        </div>
        <div class="form-group">
            Hasło:
            <input name="password" type="password" class="form-control" placeholder="hasło"/>
        </div>
        <input type="submit" value="Login" class="btn btn-primary btn-pill"/>
    </form>
</div>

</html>