<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/courseLayout}" >

<th:block layout:fragment="header">
    <div class="menu-bg top-section-space" th:style="'background:url(' + @{/images/programming_banner.jpg} + ');'" data-stellar-background-ratio="0.8"></div>
</th:block>

<th:block layout:fragment="main-content">
    <div class="mt-5 container">
        <div class="row justify-content-center">
            <a th:href="@{addContent}" class="btn btn-primary col-2 mx-2">Dodaj teorię</a>
            <a th:href="@{addTask}" class="btn btn-primary col-2 mx-2">Dodaj praktykę</a>
            <a th:href="@{addCompileTask}" class="btn btn-primary col-2 mx-2">Dodaj kompilacyje</a>
        </div>
    </div>
    <div class="mt-5">
        <div class="col-6 float-left text-center">
            <form th:action="@{addCompileTask}" th:object="${compileTask}" method="post" class="">
                <div class="col-12 w-100 float-left text-center">
                    <div class="form-group">
                        Treść zadania:
                        <textarea rows="3" type="text" th:text="*{taskContent}" th:field="*{taskContent}" class="form-control col-12 mx-auto" placeholder="Treść zadania"/>
                    </div>
                    <div class="form-group w-100">
                        Logika kompilacji zadania:
                        <textarea rows="20" type="text" th:text="*{compileCode}" th:field="*{compileCode}" class="form-control col-12 mx-1" placeholder="Treść zadania"/>
                    </div>
                    <div class="form-group">
                        Dane wejściowe:
                        <textarea rows="1" type="text" th:text="*{inputs}" th:field="*{inputs}" class="form-control col-12 mx-auto" placeholder="Treść zadania"/>
                    </div>

                </div>
                <div class="col-6 w-100 float-right text-center border-right">
                    <div class="form-group">
                        Wzorzec rozwiazania zadania:
                        <textarea rows="10" type="text" th:text="*{properCode}" th:field="*{properCode}" class="form-control col-12 mx-auto" placeholder="Treść zadania"/>
                    </div>
                </div>
                <div class="col-6 w-100 float-right text-center border-right">
                    <div class="form-group">
                        Kod startowy:
                        <textarea rows="10" type="text" th:text="*{initCode}" th:field="*{initCode}" class="form-control col-12 mx-auto" placeholder="Treść zadania"/>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <input type="submit" class="btn btn-primary btn-pill" value="Dodaj">
            </form>
        </div>



        <div class="col-6 float-left">
            <th:block th:insert="fragments/subsection_management:: content-in-add"></th:block>
        </div>
        <div style="clear:both"></div>

        <form th:action="@{finish}" method="post" class="m-auto text-center">
            <input type="submit" class="btn btn-primary" value="Zakończ">
        </form>
    </div>

</th:block>

</html>